<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Webpage</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
 
    <!-- Navbar -->
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About Me </a></li>
                <li><a href="project.html">Project</a></li>
                <li><a href="#">Life Explored</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="hero">
        <h2>My Project</h2>
    </div>
    <main>
        
<section class="project-1">
        <div class="content">
          <div class="project-name">
             <h2 style="color: #32cd32">
                VietNam Travel 
             
             </h2>
             <p >
                There are many variations of Vietnamese destinations available, but the majority offer breathtaking experiences,
                 from vibrant cities to tranquil countryside. If you are planning to visit Vietnam, you need to be sure there’s 
                 nothing overlooked in your travel plans. Majestic mountains and endless beaches stretch across the country,
                  blending history and modernity, from the bustling streets of Hanoi to the lively markets of Ho Chi Minh City.
             <br>
             <br>
                 Beyond its popular tourist spots, Vietnam is rich in culture, heritage, and stunning natural beauty. From Ha Long Bay’s 
                 emerald waters to the terraced fields in Sapa, every corner tells a unique story. Whether you seek adventure or relaxation, 
                 the diverse landscapes and delicious cuisine will leave you wanting more.
             </p>
          </div>
<!-- project info-->
          <div class="info">
           <h4>
             Project infomation
           </h4>
            <p>Personal project</p>
            <p><i>Date:</i> December 2024</p>
            <p><i>Languages:</i> Html, Css, JavaScript</p>
            <p><i>Website:</i> vietnamtravel.sbs</p>
            <p><i>Status:</i> Under developmemt (Public preview)</p>
           
          </div>
        </div>
<!-- project preview-->
          <div class="preview">
            <h4>
                Project Preview
             </h4>
             <div class="image-grid">
                <img src="../style/home.png" alt="Image 1">
                <img src="../style/dest.png" alt="Image 2">
                <img src="../style/nwest.png" alt="Image 3">
                <img src="../style/laocai.png" alt="Image 4">
                <img src="/style/sc.png" alt="Image 5">
              </div>
              
          </div>

</section>
<hr>

<section class="project-3">
    <div class="content">
      <div class="project-name">
         <h2 style="color: #32cd32">
            Cafeteria
         
         </h2>
         <p >
        The Cafeteria webpage is designed to provide users with an easy-to-navigate online platform showcasing the diverse offerings of the cafeteria. It will feature detailed information about the various sections of the cafeteria
         <br>
         <br>
        The goal of the webpage is to offer a seamless digital experience that mirrors the comfort and welcoming environment of the cafeteria, enhancing user engagement and attracting more visitors.


         </p>
      </div>
<!-- project info-->
      <div class="info">
       <h4>
         Project infomation
       </h4>
       <p>Personal project</p>
       <p><i>Date:</i> Febuary 2025</p>
       <p><i>Languages:</i> Html, Css, JavaScript, Python(Django)</p>
       <p><i>Website:</i> <a href="https://github.com/123Qn/Cafeteria">Github</a> </p>
       <p><i>Status:</i> </p>
      </div>
    </div>

<!-- project preview-->
<div class="preview">
  <h4>
      Project Preview
   </h4>
   <div class="image-grid">
      <img src="../style/cafe.png" alt="Image 1">
      <img src="../style/desert.png" alt="Image 2">
      <img src="../style/iv.png" alt="Image 3">

    </div>
    
</div>
</section>
<hr>
<section class="project-2">
  <div class="content">
    <div class="project-name">
       <h2 style="color: #32cd32">
          MPS register system
       
       </h2>
       <p >
          The MPS Register System is designed to streamline the registration process for individuals applying for the Mobility Parking Scheme (MPS). This system allows users to easily input personal information, medical details, and other relevant data required for their application. The platform ensures secure data collection and submission, with an intuitive user interface that guides applicants through each section of the registration process.
       <br>
       <br>
       The MPS Register System aims to simplify the application process, improve accessibility for individuals with mobility issues, and enhance the efficiency of MPS administration.


       </p>
    </div>
<!-- project info-->
    <div class="info">
     <h4>
       Project infomation
     </h4>
     <p>University group project</p>
     <p><i>Date:</i> September 2024</p>
     <p><i>Languages:</i> Html, Css, JavaScript, Python(Django)</p>
     <p><i>Website:</i> <a href="https://github.com/123Qn/projectPAR15-20250302T063753Z-001">Github</a> </p>
     <p><i>Status:</i> Done (Tutor previewed)</p>
    </div>
  </div>

</section>


        
        
    </main>
   

</body>
</html>
